.center-width {
    margin: auto;
    width: fit-content;
    min-width: 400px;
}

.container {
    justify-content: center;
    min-height: 400px;
}

.card {
      display: flex;
      flex-direction: row;
        font-size: 40px;
    }
.card-color {
    background-color: #0047ab;
}

.center-width {
  margin: auto;
  width: fit-content;
  min-width: 400px;
}

.flex-columns {
  display: flex;
  flex-direction: column;
}

.image-size {
  width: 100px;
  height: 100px;
}

.logo {
 font-size: 60px; 
}

.unset-a-black {
    color: black;
    text-decoration: none; /* no underline */
}

.unset-a-white {
  color: white;
  text-decoration: none; /* no underline */
}