.center-width {
    margin: auto;
    width: fit-content;
}

.container {
    height: 100vh;
    justify-content: center;
}

.card {
      display: flex;
      flex-direction: row;
        font-size: 40px;
    }
    .card-color {
        background-color: #0047ab;
}
    .flex-columns {
      display: flex;
      flex-direction: column;
    }

    .flex-rows {
    }

    .center-width {
      margin: auto;
      width: 600px;
    }

    .image-size {
      width: 100px;
      height: 100px;
    }
}

